* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pph_wrapper {
  width: 300px;
  height: 250px;
  position: relative;
}
.pph_wrapper .car {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.pph_wrapper img {
  width: 250px;
  height: 200px;
  position: absolute;
  top: -9px;
  left: 19px;
}
.pph_colors {
  background-color: aqua;
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.pph_colors .color1{
    width:28px;
    height:33px;
    background-color:red;
    margin-left: 5px;
}
.pph_colors .color2{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color3{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color4{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color5{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color6{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color7{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color8{
    width:28px;
    height:33px;
    background-color:red;
}
.pph_colors .color9{
    width:28px;
    height:33px;
    background-color:red;
    margin-right: 5px;
}