* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pph_wrapper {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.pph_wrapper .car {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.pph_wrapper img {
  width: 250px;
  height: 200px;
  position: absolute;
  top: -9px;
  left: 19px;
}
.pph_colors {
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caroutline {
  outline: 1px solid tomato;
}
.pph_colors .color1 {
  width: 28px;
  height: 33px;
  background-color: #c2c330;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pph_colors .color2 {
  width: 28px;
  height: 33px;
  background-color: #0b4150;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color3 {
  width: 28px;
  height: 33px;
  background-color: #999894;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color4 {
  width: 28px;
  height: 33px;
  background-color: #151515;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color5 {
  width: 28px;
  height: 33px;
  background-color: #0a162a;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color6 {
  width: 28px;
  height: 33px;
  background-color: #585855;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color7 {
  width: 28px;
  height: 33px;
  background-color: #d5cec5;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color8 {
  width: 28px;
  height: 33px;
  background-color: #155e8d;
  border-radius: 5px;
  cursor: pointer;
}
.pph_colors .color9 {
  width: 28px;
  height: 33px;
  background-color: #931007;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.text img {
  width: 246px;
  height: 37px;
  position: absolute;
  top: 165px;
  left: 21px;
}
.text p {
  position: absolute;
  bottom: 60px;
  left: 79px;
  font-size: 22px;
}
.bg img {
  width: 300px;
  height: 368px;
  object-fit: fill;
  left: 0px;
  top: -114px;
}
